body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    direction: rtl;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center   ;
    width: 90%;
    max-width: 300px;
    padding: 20px;
    background-color: #ffffff54;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    scale: 1.25;
}

.login-form, .logout-container {
    width: 100%;
}

.input-field {
    width: calc(100% - 20px); 
    padding: 8px; 
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    direction: rtl;
}

button {
    width: calc(100% - 20px); 
    padding: 8px; 
    margin-top: 10px; 
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 60%;
        max-width: none;
        padding: 10px;
    }

    .input-field {
        padding: 6px; 
        margin: 8px 0;
    }

    button {
        padding: 6px;
        margin: 8px 0;
    }
}
