:root {
  --border-color-input: #cccc;
  --border-radius-input: 4px;
  --border-size-input: 2px;
  --max-height: 800px;
  --max-width: 800px;
}

.support-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

@media only screen and (min-width: 480px) {
  .logo-small {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .logo-small {
    display: block;
  }

  .logo-big {
    display: none;
  }

  .title {
    font-size: 18px;
  }

  .support-form {
    flex-direction: column-reverse;
  }

  .support-form label {
    font-size: 14px;
  }

  .support-form input,
  .support-form textarea {
    font-size: 14px;
  }

  textarea[name="problemDescription"] {
    max-height: 100px;
    height: auto;

  }

  .support-form button {
    padding: 10px 20px;
    font-size: 14px;

  }

  .footer {
    font-size: 12px;
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.support-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.support-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.support-form input,
.support-form textarea,
.support-form select {
  width: 90%;
  padding: 10px;
  border: var(--border-size-input) solid var(--border-color-input);
  border-radius: var(--border-radius-input);
}

.support-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: var(--border-radius-input);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.support-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.footer {
  margin-top: 10px;
  text-align: center;
  color: #666;
}