.support-page {
  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media only screen and (min-width: 480px) {
  .logo-small{
    display: none;
  }
  
}

@media only screen and (max-width: 480px) {
  .logo-small{
    display: block;
  }
  .logo-big {
    display: none;
  }
  .support-page {
     max-width: 100%;
     padding: 10px; 
   }
 
  .title {
     font-size: 18px; 
   }
 
  .support-form {
     flex-direction: column-reverse; 
   }
 
  .support-form label {
     font-size: 14px;
   }
 
  .support-form input,
  .support-form textarea {
     font-size: 14px;
   }
 
   textarea[name="problemDescription"] {
    max-height: 100px;
   }

  .support-form button {
     padding: 8px 16px; 
   }
 
  .footer {
     font-size: 12px; 
   }
 }


.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.support-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.support-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.support-form input,
.support-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.support-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.support-form button:hover {
  background-color: #0056b3;
}

textarea[name="problemDescription"] {
  height: 325px;
  
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: #666;
}

.support-form select[name="priority"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 95%;
}

.title-container {
  display: flex;
  justify-content: space-between;
 }

.logo-big {
  z-index: 9999;
  max-width: auto;
  max-height: auto;
}
.logo-small {
  z-index: 9999;
  max-width: 60%;
  max-height: auto;
}