:root {
  --border-color-input: #ccc;
  --border-radius-input: 4px;
  --border-size-input: 2px;
}

.support-page {
  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media only screen and (max-width: 480px) {
  .support-page {
    max-width: 100%;
    padding: 10px;
  }

  .title {
    font-size: 18px;
  }

  .support-form {
    flex-direction: column-reverse;
  }

  .support-form label {
    font-size: 14px;
  }

  .support-form input,
  .support-form textarea {
    font-size: 1var(--border-radius-input);
  }

  textarea[name="problemDescription"] {
    max-height: 100px;
  }

  .support-form button {
    padding: 8px 16px;
  }

  .footer {
    font-size: 12px;
  }
}


.title {
  font-size: 2var(--border-radius-input);
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.support-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.support-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.support-form input,
.support-form textarea {
  padding: 10px;
  border: var(--border-size-input) solid var(--border-color-input);
  border-radius: var(--border-radius-input);
}

.support-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: var(--border-radius-input);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.support-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  /* height: 105%; */
}

textarea[name="problemDescription"] {
  height: 325px;
}

.footer {
  margin-top: 10px;
  text-align: center;
  color: #666;
}

.support-form select[name="priority"] {
  padding: 15px;
  border: var(--border-size-input) solid var(--border-color-input);
  border-radius: var(--border-radius-input);
  width: 100%;
  height: 70%;
  font-size: 80%;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  z-index: 9999;
  max-width: 100%;
  max-height: auto;
}